<center>
	<br>	<br>
	<br>

<form action="/claim" method="POST" id="payment-form">
	<p><font face="verdana" size="3">Make sure your code was merged in! You can only make a claim once.</font></p>
    <button class="thebutton" type="submit">Claim</button>
  </form>
 </center>



<style>

  .thebutton {	  
    margin-left:220px;
	width:220px;
  
      overflow: visible;
      display: inline-block;
      padding: 0.5em 1em;
      border: 1px solid #d4d4d4;
      margin: 0;
      text-decoration: none;
      text-shadow: 1px 1px 0 #fff;
      font: 20px/normal Helvetica;
    font-weight: bold;
      color: #333;
      white-space: nowrap;
      cursor: pointer;
      outline: none;
      background-color: #ececec;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
      background-image: -webkit-linear-gradient(#f4f4f4, #ececec);
      background-image: -moz-linear-gradient(#f4f4f4, #ececec);
      background-image: -o-linear-gradient(#f4f4f4, #ececec);
      background-image: -ms-linear-gradient(#f4f4f4, #ececec);
      background-image: linear-gradient(#f4f4f4, #ececec);
      -moz-background-clip: padding;
      background-clip: padding; /**/
      /* commented out due to Opera 11.10 bug */
      -webkit-border-radius: 0.2em;
      -moz-border-radius: 0.2em;
      border-radius: 0.2em; /* IE hacks */
      zoom: 1;
      *display: inline;
  }
  

  .thebutton:hover,
  .thebutton:focus {
      border-color: #22994D;
      border-bottom-color: #22994D;
      text-decoration: none;
      text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
      color: #fff;
      background-color: #22994D;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#22994D), to(#22994D));
      background-image: -webkit-linear-gradient(#22994D, #22994D);
      background-image: -moz-linear-gradient(#22994D, #22994D);
      background-image: -o-linear-gradient(#22994D, #22994D);
      background-image: -ms-linear-gradient(#22994D, #22994D);
      background-image: linear-gradient(#22994D, #22994D);
  }

  .thebutton:active,
  .thebutton.active {
      text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
      color: #fff;
      border-color: #22994D;
      border-bottom-color: #22994D;
      background-color: #22994D;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
      background-image: -webkit-linear-gradient(#3072b3, #599bdc);
      background-image: -moz-linear-gradient(#3072b3, #599bdc);
      background-image: -o-linear-gradient(#3072b3, #599bdc);
      background-image: -ms-linear-gradient(#3072b3, #599bdc);
      background-image: linear-gradient(#3072b3, #599bdc);
  }

  
  
  
  
  </style>