<html>
<head>
	<link href="/css/card.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>  
    <script type="text/javascript">
      // This identifies your website in the createToken call below
      Stripe.setPublishableKey('pk_test_ODW7OJfVhlRJEgFY0ppWzwEE');
      var stripeResponseHandler = function(status, response) {
  	console.log('yay', response, status);
        var $form = $('#payment-form');
		

			
        if (response.error) {
          // Show the errors on the form

	      $form.find('.payment-errors').text(response.error.message);

          $form.find('button').prop('disabled', false);
        } else {
          // token contains id, last4, and card type
          var token = response.id;
          // Insert the token into the form so it gets submitted to the server
          $form.append($('<input type="hidden" name="stripeToken" />').val(token));
  	    //var input = document.getElementById("legalname").value;
	  	var the_name = $("#legalname").val();
		
          $form.append($('<input type="hidden" name="legalName" />').val(the_name));

          // and re-submit
          $form.get(0).submit();
        }
		

      };
 
      jQuery(function($) {
        $('#payment-form').submit(function(e) {
          var $form = $(this);
  		console.log('something');
 
          // Disable the submit button to prevent repeated clicks
          $form.find('button').prop('disabled', true);
		  
		  var expgroup = $("#date-exp").val();
		  var expArray = expgroup.split( '/' );
		  var expmm = parseInt(( expArray[ 0 ] ));
		  var expyy = parseInt(( expArray[ 1 ] ));
 
          Stripe.card.createToken({
		  number: $('#cc').val(),
                    cvc: $('#card-cvc').val(),
                    exp_month: expmm,
                    exp_year: expyy
			  
          }, stripeResponseHandler);

 
          // Prevent the form from submitting with the default action
          return false;
        });
      });
	
	
	
    </script>
	
	
	
</head>
<body>
    <style>
    
        form {
            margin: 30px;
        }
        input {
            width: 200px;
            margin: 10px auto;
            display: block;
        }
		

		.thebutton {	  
		  margin-left:220px;
		  width:325px;
		    overflow: visible;
		    display: inline-block;
		    padding: 0.5em 1em;
		    border: 1px solid #d4d4d4;
		    margin: 0;
		    text-decoration: none;
		    text-shadow: 1px 1px 0 #fff;
		    font: 20px/normal Helvetica;
		  font-weight: bold;
		    color: #333;
		    white-space: nowrap;
		    cursor: pointer;
		    outline: none;
		    background-color: #ececec;
		    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
		    background-image: -webkit-linear-gradient(#f4f4f4, #ececec);
		    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
		    background-image: -o-linear-gradient(#f4f4f4, #ececec);
		    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
		    background-image: linear-gradient(#f4f4f4, #ececec);
		    -moz-background-clip: padding;
		    background-clip: padding; /**/
		    /* commented out due to Opera 11.10 bug */
		    -webkit-border-radius: 0.2em;
		    -moz-border-radius: 0.2em;
		    border-radius: 0.2em; /* IE hacks */
		    zoom: 1;
		    *display: inline;
		}

		.thebutton:hover,
		.thebutton:focus {
		    border-color: #22a301;
		    border-bottom-color: #22a301;
		    text-decoration: none;
		    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
		    color: #fff;
		    background-color: #22a301;
		    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#22a301), to(#22a301));
		    background-image: -webkit-linear-gradient(#22a301, #22a301);
		    background-image: -moz-linear-gradient(#22a301, #22a301);
		    background-image: -o-linear-gradient(#22a301, #22a301);
		    background-image: -ms-linear-gradient(#22a301, #22a301);
		    background-image: linear-gradient(#22a301, #22a301);
		}

		.thebutton:active,
		.thebutton.active {
		    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
		    color: #fff;
		    border-color: #22a301;
		    border-bottom-color: #22a301;
		    background-color: #22a301;
		    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
		    background-image: -webkit-linear-gradient(#3072b3, #599bdc);
		    background-image: -moz-linear-gradient(#3072b3, #599bdc);
		    background-image: -o-linear-gradient(#3072b3, #599bdc);
		    background-image: -ms-linear-gradient(#3072b3, #599bdc);
		    background-image: linear-gradient(#3072b3, #599bdc);
		}

.sameline { float: left; margin: 0; padding: 0 0 0 0;
 }
.sameline2 { float: right; }

.rounded1 {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border:solid 1px black; 
background: white url("https://cdn2.iconfinder.com/data/icons/picons-basic-2/57/basic2-014_credit_card-20.png") left no-repeat;
}

.rounded2 {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border:solid 1px black; 
background: white url("http://www.sparksworkwear.co.uk/image/cache/data/person-icon-20x20.png") left no-repeat;
}

.rounded3 {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border:solid 1px black; 
background: white url("https://cdn4.iconfinder.com/data/icons/proglyphs-business-and-office/512/Calendar-20.png") left no-repeat;
}

.rounded4 {
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
border:solid 1px black; 
background: white url("https://cdn3.iconfinder.com/data/icons/gray-toolbar/512/lock-20.png") left no-repeat;
}

input.rounded1{padding:23px;font-size:15px;}
input.rounded2{padding:23px;font-size:15px;}
input.rounded3{padding:23px;font-size:15px;}
input.rounded4{padding:23px;font-size:15px;}

		

    </style>
        <div class="card-wrapper"></div>

        <div class="form-container active">
  		  	<form action="/collectpaymentdata" method="POST" id="payment-form">
				<div class="sameline">
                <input placeholder="Card number" type="text" name="number" id="cc" class="rounded1" style="height:10px">
                <input placeholder="Name on card" type="text" name="name" id="legalname" class="rounded2" style="height:10px">
				</div>
				<div class="sameline2">
                <input placeholder="MM/YY" type="text" name="expiry" id="date-exp" style="width: 116px; height:10px" class="rounded3"  >
                <input placeholder="CVC" type="text" name="cvc" id="card-cvc" style="width: 116px; height:10px" class="rounded4" >
			</div>
		    <center><button type="submit" class="thebutton">Submit Card Details</button></center>
			
			    <span class="payment-errors"></span>
				
            </form>
        </div>
    </div>
	
	<center><img src="http://i.imgur.com/w1cdm8P.png" style="width:120;height:30px;"></center>
	



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/card.js"></script>
    <script>
        $('.active form').card({
            container: $('.card-wrapper')
        })
    </script>
</body>
</html>