<body>
<div id="header">
<div style="height:1px;font-size:1px;">&nbsp;</div>
	<p class="alignleft">&nbsp;&nbsp;<img src="http://i.imgur.com/ZGG3QJB.png" style="width:60px;height:25px" text-align="left" top="60px" left="10px;"></p>
<br>
<br>
<br>
<br>
<br>
<br>
   <center><a href="/auth/github"> <button class="thebutton" type="submit" onclick="change()" id="signin" value="LOL"><font family="verdana">Sign in to Havi</font></button></a></center>
   <br>
<br>
<br>
<br>
 <br>
<br>
<br>
<br>
</div>
</body>


<script language="javascript" type="text/javascript">
function change() {
	
	document.getElementById("signin").innerHTML = '<font family="verdana">Signing in...</font>';
	//but only if /auth/github is not going to github.com
		
	console.log('aghh');
	
	
	// Every two seconds....
	setInterval(function() {
		// Send the message "Hello" to the parent window
		// ...if the domain is still "davidwalsh.name"
		console.log('lol');
		parent.postMessage("Hello",document.URL);
	},2000);

		//window.open('/auth/github');
		// setInterval(function(){
// 			console.log('location', window.location.href);
//
// 		},1000);
			//
		// window.addEventListener('error', function(error) {
		// 	console.log('called');
		//
		// console.log("fuckkkkk", error); /* do something with error */ })
  

		
		
		//TODO timer for 3 seconds, if not redirect to /account, window.open(/auth/github);
		
		
		
	
}
</script>



<style> 



	
	#header  {
		position:relative;
	    background-color:#ffffff;
		top:10px;
		
	}
	
    .thebutton {	  
  	  margin-left:220px;
	  
        overflow: visible;
        display: inline-block;
        padding: 0.5em 1em;
        border: 1px solid #d4d4d4;
        margin: 0;
        text-decoration: none;
        text-shadow: 1px 1px 0 #fff;
        font: 20px/normal Helvetica;
  	  font-weight: normal;
        color: #333;
        white-space: nowrap;
        cursor: pointer;
        outline: none;
        background-color: #ececec;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
        background-image: -webkit-linear-gradient(#f4f4f4, #ececec);
        background-image: -moz-linear-gradient(#f4f4f4, #ececec);
        background-image: -o-linear-gradient(#f4f4f4, #ececec);
        background-image: -ms-linear-gradient(#f4f4f4, #ececec);
        background-image: linear-gradient(#f4f4f4, #ececec);
        -moz-background-clip: padding;
        background-clip: padding; /**/
        /* commented out due to Opera 11.10 bug */
        -webkit-border-radius: 0.2em;
        -moz-border-radius: 0.2em;
        border-radius: 0.2em; /* IE hacks */
        zoom: 1;
        *display: inline;
    }
  
    .thebutton:hover,
    .thebutton:focus {
        border-color: #22994D;
        border-bottom-color: #22994D;
        text-decoration: none;
        text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
        color: #fff;
        background-color: #22a301;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#22a301), to(#22a301));
        background-image: -webkit-linear-gradient(#22994D, #22994D);
        background-image: -moz-linear-gradient(#22994D, #22994D);
        background-image: -o-linear-gradient(#22994D, #22994D);
        background-image: -ms-linear-gradient(#22994D, #22994D);
        background-image: linear-gradient(#22994D, #22994D);
    }

    .thebutton:active,
    .thebutton.active {
        text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
        color: #fff;
        border-color: #22994D;
        border-bottom-color: #22994D;
        background-color: #22994D;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
        background-image: -webkit-linear-gradient(#3072b3, #599bdc);
        background-image: -moz-linear-gradient(#3072b3, #599bdc);
        background-image: -o-linear-gradient(#3072b3, #599bdc);
        background-image: -ms-linear-gradient(#3072b3, #599bdc);
        background-image: linear-gradient(#3072b3, #599bdc);
    }
  

</style>