	<div id="header"  >
	    <a href="/"><p class="alignleft"><img src="http://i.imgur.com/ZGG3QJB.png" style="width:70px;height:30px" text-align="left" top="30px"></p></a>

<br><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center><font color=black face="Helvetica">Thank you! You submitted a dispute! The Havi team will get back to you shortly.</font><br><br>
<a href="/"> <button class="thebutton" type="submit" id="signin" value="LOL"><font family="verdana">Return to Homepage</font></button></a></center>


<style>
body {background-color:white}


.thebutton {	  
  margin-left:220px;
  
    overflow: visible;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-shadow: 1px 1px 0 #fff;
    font: 20px/normal Helvetica;
  font-weight: bold;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -webkit-linear-gradient(#f4f4f4, #ececec);
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding;
    background-clip: padding; /**/
    /* commented out due to Opera 11.10 bug */
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em; /* IE hacks */
    zoom: 1;
    *display: inline;
}

.thebutton:hover,
.thebutton:focus {
    border-color: #22a301;
    border-bottom-color: #22a301;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #22a301;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#22a301), to(#22a301));
    background-image: -webkit-linear-gradient(#22a301, #22a301);
    background-image: -moz-linear-gradient(#22a301, #22a301);
    background-image: -o-linear-gradient(#22a301, #22a301);
    background-image: -ms-linear-gradient(#22a301, #22a301);
    background-image: linear-gradient(#22a301, #22a301);
}

.thebutton:active,
.thebutton.active {
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    border-color: #22a301;
    border-bottom-color: #22a301;
    background-color: #22a301;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -webkit-linear-gradient(#3072b3, #599bdc);
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: -ms-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}



</style>