<b>Reject Bounty form. Submit your dispute and our dispute resolution team will take care of the rest.</b>
<form action="/rejectbounty" method="POST">
Dispute:<br>
<input type="text" name="dispute">
<br>
<input type="submit" value="Send message" />
</form>
